<div class="container">
  <div class="header">
    <div class="company-name">ReBrain</div>

    <div class="info-links">
      <span>How it’s works</span>
      <span>Types of assistance</span>
    </div>

    <button class="signup-button">
      <div class="btn-text">Sign Up</div>
      <img alt="Sign Up Icon" class="btn-image" src="assets/signup.svg" />
    </button>
  </div>

  <div class="intro">
    <div class="text">Better way to solve psychological problems</div>

    <img alt="kek" src="assets/home-main-character.svg" class="home-image" />
  </div>
</div>
